@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.root {
    background: #252525;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    font-family: IBM Plex Sans, sans-serif;
}

.title-name {
    text-align: left;
    padding: 15px;
    float: left;
    color: #FFFFFF;
    width: 10rem;
}

.nav-bar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.25rem;
    padding-right: 1.5em;
}

.nav-link:hover {
    color: rgb(25, 25, 56);
    text-decoration: none;
    font-size: 1.25rem;
    padding-right: 1.5em;
}

.nav-link-active {
    text-decoration: underline !important;
}

.page-content-container {
    width: 95vw;
    margin: 2em;
}

.foot {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.greeting {
    text-align: center;
    font-size: 3em;
    margin-top: 2.65em;
}

.liamimg {
    border-radius: 50%;
    flex: 1;
    width: 60%;
    height: auto;
}

.grid-container {
    justify-content: center;
    font-size: 1.2rem;
}

.grid-container p {
    margin-top: 0.9em;
}

.grid-container a {
    color: #5994ee;
}

.grid-container a:visited {
    color: #5994ee;
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    background: transparent;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
}

.page-title {
    margin-left: 10%;
}